In [12]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [13]:
df = pd.read_excel("Results experimental analysis 2.2.xlsx")

In [14]:
df.columns

Index(['rute', 'System prompt', 'numero_ejemplos', 'model', 'problem',
       'iteration', 'System_prompt_modificado', 'Recursividad',
       'Errores conceptuales', 'Errores de sintaxis', 'Problem_name',
       'iteration_number', 'Category_response'],
      dtype='object')

This dataset has a row for each evaluation made of the experiment performed to identify if the code has errors. 

In the column rute we have the rute to the local file with the answer we are analyzing. 

The column "System prompt" is null is the system role has not been modified and if we have modified the system role used. 

The column "numero_ejemplos": can take the value 0, 1 or 2 depending if we are performing zero-shot, 1-shot or 2-zhot prompting. 

The column "model": contains the model used to obtain this answer under study. The options are: "llama3", "llama2", "codellama", "deepseek", "platypus", "gpt-3.5" and "gpt-4". 

The column "problem" contains information related to the problem under study, if it's a recursive implementation or not and if it has syntax errors or not. 

The column "iteration" is a number between 0 and 5 and is a way to identify different executions of the same input.

The columns "System_prompt_modificado", "Recursividad", "Errores conceptuales" and "Errores de sintaxis" can be true or false.

In the column Category_response we have the label corresponding to the response we are analysing. This are the possible values it can take:


tag_0: "No response, is not compliant with ethical guidelines"

tag_1: "Takes information from the example, incorrect answer"

tag_2: " There are no errors in the code and it does not find errors"

tag_3: " There are no errors in the code, it gives only code_sintax_error filed, incomplete answer"

tag_4: "The code has errors, it identifies some of them but not all"

tag_5: "The code has errors, it does not identify any of them"

tag_6: "Gives extra information apart from the dictionary asked,does not give an answer aligned with the instructions given"

tag_7: " The answer provide false errors"

tag_8: "it gives the full code corrected"

tag_9: "The code has errors, it identifies all of them"

tag_10: "It gives corrections that are not correct"

tag_11: "It gives codes from the training!!!"

tag_12: "detects the conceptual error in the absence of syntactic errors"

## Codellama exclusion

In [15]:
df_codellama = df[df.iloc[:,3] =='codellama']

pivot_table_codellama = pd.pivot_table(df_codellama, 
                             index='Category_response', 
                             aggfunc='size', 
                             fill_value=0)
total_count_codellama = pivot_table_codellama.sum()

percentage_table_codellama = (pivot_table_codellama / total_count_codellama) * 100

print(pivot_table_codellama)
print(percentage_table_codellama)

Category_response
tag_0    355
tag_1      5
dtype: int64
Category_response
tag_0    98.611111
tag_1     1.388889
dtype: float64

## Llama2 exclusion

In [16]:
df_llama2 = df[df.iloc[:,3] =='llama2']

pivot_table_llama2 = pd.pivot_table(df_llama2, 
                             index='Category_response', 
                             aggfunc='size', 
                             fill_value=0)
total_count_llama2 = pivot_table_llama2.sum()

percentage_table_llama2 = (pivot_table_llama2 / total_count_llama2) * 100

print(pivot_table_llama2)
print(percentage_table_llama2)

Category_response
tag_1      35
tag_11     10
tag_4      20
tag_5       7
tag_6      29
tag_7     243
tag_8       7
tag_9       9
dtype: int64
Category_response
tag_1      9.722222
tag_11     2.777778
tag_4      5.555556
tag_5      1.944444
tag_6      8.055556
tag_7     67.500000
tag_8      1.944444
tag_9      2.500000
dtype: float64

The llama2 model is similarly irrelevant to the current task. It is of interest to note that 67.5% of the responses include
erroneous information, 9.7% of the time the model provides data from the examples,
and 8% of the responses are not in the expected format,

# Results obtained from the llama3, gpt-4, gpt-3.5, deepseek, platypus and qween models.

In [17]:
invalid_tags = ['tag_1','tag_6', 'tag_7', 'tag_10', 'tag_8','tag_11'] 
df['Category_new_1'] = df['Category_response'].apply(lambda x: 'respuesta_invalida' if x in invalid_tags else x)

We consider as invalid answers those in which errors are given in the examples and not in the code under study, the answer provided is in the wrong format, provides false errors, provides corrections that are not correct, ignores the instructions and gives a whole corrected code or gives training codes in its answer. 

We would like to see for each model what percentage of their answers are invalid.

In [18]:
def fun_percentatge(df, col_filtrar,val_filtrar, col_agrupar):
    df_total = df.groupby([col_agrupar]).size().rename('Total')
    df_filtrado = df[df.iloc[:, col_filtrar] == val_filtrar]
    grouped_df = df_filtrado.groupby([col_agrupar]).size().reset_index(name='Count')
    df_new = pd.merge(grouped_df, df_total, on =[col_agrupar])
    df_new['percentage'] = (df_new['Count'] / df_new['Total'] * 100).round(1)
    return df_new

In [19]:
df_2 = fun_percentatge(df, -1,'respuesta_invalida', 'model')
print(df_2)

       model  Count  Total  percentage
0  codellama      5    360         1.4
1   deepseek    118    360        32.8
2    gpt-3.5     30    216        13.9
3      gpt-4      5    216         2.3
4     llama2    324    360        90.0
5     llama3     41    360        11.4
6   platypus     70    360        19.4
7       qwen     44    360        12.2

llama2 has been discarded because 90% of its answers are incorrect. codellama has also been discarded because almost all of its answers are that it cannot do what is asked of it for ethical reasons.

The models from the one that generated the highest percentage of invalid_answers to the one that generated the lowest percentage of invalid_answers are: 'deepseek', 'platypus', gpt-3.5, qwen, llama3 and gpt-4.

We now want to see which models have a tendency not to identify errors. 

So we have "tag_5" which is the code that has errors but does not identify any of them.

The initial dataset must be the set of experiments performed on the codes with syntax errors in order to make sense of the percentages.

In [20]:
df_err =df[df.iloc[:,9] ==True]

df_3 = fun_percentatge(df_err, -1,'tag_5', 'model')
print(df_3)

      model  Count  Total  percentage
0   gpt-3.5      2    108         1.9
1    llama2      7    180         3.9
2  platypus     90    180        50.0
3      qwen     35    180        19.4

We see that platyplus does not detect syntax errors 50% of the times it is asked and therefore it is not a good model for this type of task, since half of the times it tells the student that there are no errors, there is a 50% chance that there are. 


Deepseek worries us because it has given us invalid answers 32.8% of the time. Let's see what kind of invalid answers we are referring to.

In [21]:
df_deepseek = df[df.iloc[:,3] =='deepseek']
df_deepseek_no_val = df_deepseek[df_deepseek.iloc[:,-1] =='respuesta_invalida']
df_deepseek_no_val_no_err =df_deepseek_no_val[df_deepseek_no_val.iloc[:,9] ==False]
df_4 = fun_percentatge(df_deepseek_no_val_no_err, -1,'respuesta_invalida','Category_response')
df_4['Total'] = df_4['Count'].sum()
df_4['percentage'] = (df_4['Count'] / df_4['Total'] * 100).round(1)
print("Invalid deepseek responses for code that has no syntax errors \n ")
print(df_4)

df_deepseek_no_val_err =df_deepseek_no_val[df_deepseek_no_val.iloc[:,9] ==True]
df_4 = fun_percentatge(df_deepseek_no_val_err, -1,'respuesta_invalida','Category_response')
df_4['Total'] = df_4['Count'].sum()
df_4['percentage'] = (df_4['Count'] / df_4['Total'] * 100).round(1)
print("Invalid deepseek responses for code that has syntax errors \n")
print(df_4)

Invalid deepseek responses for code that has no syntax errors

  Category_response  Count  Total  percentage
0             tag_6      5     15        33.3
1             tag_7     10     15        66.7
Invalid deepseek responses for code that has syntax errors

  Category_response  Count  Total  percentage
0            tag_10     37    103        35.9
1             tag_7     56    103        54.4
2             tag_8     10    103         9.7

As we have seen that 32.8% (118 out of 360) of deepseek's answers give us invalid answers, we wanted to find out when it gives this kind of answers, if they are when the code is correct or when there are syntax errors and what happens when we modify the system role or when we add examples. 

There are 180 executions without syntax errors and 180 executions with syntax errors. Only 15 of those without errors have said that they have errors, while 103 of the 180 with errors have not given us a valid answer. 

Therefore we consider that deepseek is not a valid model for this task either, since when entering codes without errors it responded incorrectly only 8.3% of the time, but when providing codes with errors 57.2% of the time it gave false errors or did not follow the instructions of the prompt.

We have discarded codellama, llama2, platypus and deepseek for this activity. 

Let's analyse the gpt-3.5, gpt-4, llama3 and qwen models.

1- Codes without syntax errors

2- Codes with syntax errors

In [22]:
mod = ['gpt-3.5', 'gpt-4', 'llama3', 'qwen']
sub_df = df[df['model'].isin(mod)]
sub_df

,rute,System prompt,numero_ejemplos,model,problem,iteration,System_prompt_modificado,Recursividad,Errores conceptuales,Errores de sintaxis,Problem_name,iteration_number,Category_response,Category_new_1
180,Sin_system_prompt/qwen/euclides_rec_sin_errore...,NaN,0.0,qwen,euclides_rec_sin_errores,0.0,False,True,False,0.0,Euclides,iteration_0,tag_2,tag_2
181,Sin_system_prompt/qwen/euclides_rec_sin_errore...,NaN,0.0,qwen,euclides_rec_sin_errores,1.0,False,True,False,0.0,Euclides,iteration_1,tag_2,tag_2
182,Sin_system_prompt/qwen/euclides_rec_sin_errore...,NaN,0.0,qwen,euclides_rec_sin_errores,2.0,False,True,False,0.0,Euclides,iteration_2,tag_2,tag_2
183,Sin_system_prompt/qwen/euclides_rec_sin_errore...,NaN,0.0,qwen,euclides_rec_sin_errores,3.0,False,True,False,0.0,Euclides,iteration_3,tag_2,tag_2
184,Sin_system_prompt/qwen/euclides_rec_sin_errore...,NaN,0.0,qwen,euclides_rec_sin_errores,4.0,False,True,False,0.0,Euclides,iteration_4,tag_2,tag_2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2588,Con_system_prompt/gpt-4/euclides_sin_rec_con_e...,You are an AI expert in detecting if a code ha...,1.0,gpt-4,euclides_sin_rec_con_errores,1.0,True,False,False,1.0,Euclides,iteration_1,tag_9,tag_9
2589,Con_system_prompt/gpt-4/euclides_sin_rec_con_e...,You are an AI expert in detecting if a code ha...,1.0,gpt-4,euclides_sin_rec_con_errores,2.0,True,False,False,1.0,Euclides,iteration_2,tag_9,tag_9
2590,Con_system_prompt/gpt-4/euclides_sin_rec_con_e...,You are an AI expert in detecting if a code ha...,2.0,gpt-4,euclides_sin_rec_con_errores,0.0,True,False,False,1.0,Euclides,iteration_0,tag_9,tag_9
2591,Con_system_prompt/gpt-4/euclides_sin_rec_con_e...,You are an AI expert in detecting if a code ha...,2.0,gpt-4,euclides_sin_rec_con_errores,1.0,True,False,False,1.0,Euclides,iteration_1,tag_9,tag_9
2592,Con_system_prompt/gpt-4/euclides_sin_rec_con_e...,You are an AI expert in detecting if a code ha...,2.0,gpt-4,euclides_sin_rec_con_errores,2.0,True,False,False,1.0,Euclides,iteration_2,tag_9,tag_9

In [23]:
#codes without syntax errors
sub_df_no_err =sub_df[sub_df.iloc[:,9] ==False]

#codes with syntax errors
sub_df_err =sub_df[sub_df.iloc[:,9] ==True]

In [24]:
#of the codes that do not have errors we must group them by model and see what percentage of the answers are 
#tag_2 (no errors and no errors found) and what percentage is tag_3 provides a dictionary with only the first field

df_5 = fun_percentatge(sub_df_no_err, -1,'tag_2', 'model')
print(df_5)

     model  Count  Total  percentage
0  gpt-3.5     19    108        17.6
1    gpt-4    102    108        94.4
2   llama3    180    180       100.0
3     qwen    160    180        88.9

In [25]:
df_6 = fun_percentatge(sub_df_no_err, -1,'tag_3', 'model')
print(df_6)

     model  Count  Total  percentage
0  gpt-3.5     86    108        79.6
1     qwen     20    180        11.1

In [26]:
df_7 = fun_percentatge(sub_df_no_err, -1,'respuesta_invalida', 'model')
print(df_7)

     model  Count  Total  percentage
0  gpt-3.5      3    108         2.8

In [27]:
sub_df_no_err[sub_df_no_err['Category_new_1']=='respuesta_invalida'].groupby(['model','Category_response', 'Problem_name', 'System_prompt_modificado', 'numero_ejemplos' ])['Category_new_1'].value_counts().unstack(fill_value=0)

Category_new_1                                                                   respuesta_invalida
model   Category_response Problem_name System_prompt_modificado numero_ejemplos
gpt-3.5 tag_7             Eratostenes  True                     0.0                               1
                          Knapsack     True                     0.0                               2

When the entered codes have no syntax errors they practically always say that there are no errors. However, 11.1% of the time for qwen and 79.6% of the time for gpt-3.5 we get a dictionary with only the first field. This is because for them the instructions are not clear and we see the importance of a good prompting since telling them what to do if there are errors but not telling them what to do when there are no errors confuses them. 

Finally we see that there are 3 responses out of 108 runs made to gpt-3.5 with errors where we get false errors. These are minor errors such as typing errors or missing commas that can come from the system prompt telling it to look for errors.

These incorrect answers are:

The one from eratostenes:

{
    "code_sintax_error": "Yes",
    "code_sintax_explanation": "There is a syntax error in the code. The issue is with the indentation in the function definition. The 'def fun_1(x, p=None, c=2):' line should not have extra indentation, it should be aligned with the left margin."
}

Knapsack's:

{
    "code_sintax_error": "Yes",
    "code_sintax_explanation": "There are syntax errors in the provided code. The function `fun_1` seems to have indentation issues, as the `def`, `if`, and `else` statements are not properly aligned. Additionally, there is a space missing in the expression `n- 1` within the function. These issues need to be corrected to ensure proper syntax in Python."
}

{
    "code_sintax_error": "Yes",
    "code_sintax_explanation": "There is a syntax error in the code. The comma after 'return 0' is incorrect. Python expects either a single value or a tuple, not both."
}

These are errors that are not real and yet the student can understand that sometimes the model is wrong and is not telling them to change big things in the code. As we can see, sometimes the models are wrong.

Let's look now at the ones that have errors in the code entered.

In [28]:
#there are errors identify some of them but not all.
print("There are errors identify some of them but not all:\n")
df_8 = fun_percentatge(sub_df_err, -1,'tag_4', 'model')
print(df_8)


#there are mistakes it identifies all of them
print("There are mistakes it identifies all of them:\n")
df_9 = fun_percentatge(sub_df_err, -1,'tag_9', 'model')
print(df_9)

#gives invalid answers
print("There are errors and it gives invalid answers:\n")
df_10 = fun_percentatge(sub_df_err, -1,'respuesta_invalida', 'model')
print(df_10)

#fails to identify errors
print("There are errors but it does not identify them:\n")
df_11 = fun_percentatge(sub_df_err, -1,'tag_5', 'model')
print(df_11)

There are errors identify some of them but not all:

     model  Count  Total  percentage
0  gpt-3.5     39    108        36.1
1    gpt-4      7    108         6.5
2   llama3     14    180         7.8
3     qwen     80    180        44.4
There are mistakes it identifies all of them:

     model  Count  Total  percentage
0  gpt-3.5     40    108        37.0
1    gpt-4     96    108        88.9
2   llama3    125    180        69.4
3     qwen     21    180        11.7
There are errors and it gives invalid answers:

     model  Count  Total  percentage
0  gpt-3.5     27    108        25.0
1    gpt-4      5    108         4.6
2   llama3     41    180        22.8
3     qwen     44    180        24.4
There are errors but it does not identify them:

     model  Count  Total  percentage
0  gpt-3.5      2    108         1.9
1     qwen     35    180        19.4

Now we will go model by model. The best is gpt-4 as 88% of the time it identifies all the errors, followed by llama3 with 69.4%, gpt with 37% and finally qwen which only 11.7% of the time gives all the answers.

In [29]:
#gpt-4

sub_df_err[sub_df_err['model']=='gpt-4'].groupby(['problem','Category_response'])['model'].value_counts().unstack(fill_value=0)

model                                                   gpt-4
problem                              Category_response
busqueda_binaria_sin_rec_con_errores tag_10                 1
                                     tag_9                 17
eratostenes_rec_con_errores          tag_4                  4
                                     tag_9                 14
eratostenes_sin_rec_con_errores      tag_9                 18
euclides_rec_con_errores             tag_4                  3
                                     tag_9                 15
euclides_sin_rec_con_errores         tag_9                 18
knapsack_rec_con_errores             tag_10                 1
                                     tag_7                  3
                                     tag_9                 14

In [30]:
#gpt-3.5

sub_df_err[sub_df_err['model']=='gpt-3.5'].groupby(['problem','Category_response'])['model'].value_counts().unstack(fill_value=0)

model                                                   gpt-3.5
problem                              Category_response
busqueda_binaria_sin_rec_con_errores tag_10                   1
                                     tag_4                    7
                                     tag_7                    3
                                     tag_9                    7
eratostenes_rec_con_errores          tag_4                    6
                                     tag_7                    2
                                     tag_9                   10
eratostenes_sin_rec_con_errores      tag_1                    1
                                     tag_10                   4
                                     tag_7                    2
                                     tag_9                   11
euclides_rec_con_errores             tag_4                   11
                                     tag_5                    2
                                     tag_7                    4
                                     tag_9                    1
euclides_sin_rec_con_errores         tag_4                   15
                                     tag_9                    3
knapsack_rec_con_errores             tag_7                   10
                                     tag_9                    8

In [31]:
#llama3

sub_df_err[sub_df_err['model']=='llama3'].groupby(['problem','Category_response'])['model'].value_counts().unstack(fill_value=0)

model                                                   llama3
problem                              Category_response
busqueda_binaria_sin_rec_con_errores tag_7                  10
                                     tag_9                  20
eratostenes_rec_con_errores          tag_4                   4
                                     tag_9                  26
eratostenes_sin_rec_con_errores      tag_9                  30
euclides_rec_con_errores             tag_4                   5
                                     tag_7                  11
                                     tag_9                  14
euclides_sin_rec_con_errores         tag_10                  5
                                     tag_7                   5
                                     tag_9                  20
knapsack_rec_con_errores             tag_10                  7
                                     tag_4                   5
                                     tag_7                   3
                                     tag_9                  15

In [32]:
#qwen

sub_df_err[sub_df_err['model']=='qwen'].groupby(['problem','Category_response'])['model'].value_counts().unstack(fill_value=0)

model                                                   qwen
problem                              Category_response
busqueda_binaria_sin_rec_con_errores tag_4                10
                                     tag_7                14
                                     tag_9                 6
eratostenes_rec_con_errores          tag_4                25
                                     tag_7                 5
eratostenes_sin_rec_con_errores      tag_5                30
euclides_rec_con_errores             tag_4                20
                                     tag_7                 5
                                     tag_9                 5
euclides_sin_rec_con_errores         tag_4                25
                                     tag_5                 5
knapsack_rec_con_errores             tag_10               20
                                     tag_9                10

gpt-4 is the only one that practically never gives invalid answers. Only 6 times out of 108, for the other models around 25% give invalid answers. Let us analyse what these invalid answers were.

In [33]:
sub_df_err[sub_df_err['Category_new_1']=='respuesta_invalida'].groupby(['model', 'numero_ejemplos' ])['Category_new_1'].value_counts().unstack(fill_value=0)

Category_new_1           respuesta_invalida
model   numero_ejemplos
gpt-3.5 0.0                              13
        1.0                               4
        2.0                              10
gpt-4   0.0                               2
        1.0                               1
        2.0                               2
llama3  0.0                              25
        1.0                              16
qwen    0.0                              20
        1.0                              15
        2.0                               9

we see that by introducing examples the number of wrong answers reduces. In the case of llama3 there are no invalid responses when two examples are given, for qwen the errors are reduced as more examples are given and for the gpt models it seems that two errors are worse than with only one example, so maybe the input is too long.

now let's see what happens when modifying or not modifying the system role.

In [34]:
sub_df_err[sub_df_err['Category_new_1']=='respuesta_invalida'].groupby(['System_prompt_modificado','model'])['Category_new_1'].value_counts().unstack(fill_value=0)

Category_new_1                    respuesta_invalida
System_prompt_modificado model
False                    gpt-3.5                  15
                         gpt-4                     3
                         llama3                   15
                         qwen                     19
True                     gpt-3.5                  12
                         gpt-4                     2
                         llama3                   26
                         qwen                     25

In [35]:
sub_df_err[sub_df_err['Category_new_1']=='respuesta_invalida'].groupby(['model','numero_ejemplos','System_prompt_modificado' ])['Category_new_1'].value_counts().unstack(fill_value=0)

Category_new_1                                    respuesta_invalida
model   numero_ejemplos System_prompt_modificado
gpt-3.5 0.0             False                                      6
                        True                                       7
        1.0             False                                      3
                        True                                       1
        2.0             False                                      6
                        True                                       4
gpt-4   0.0             False                                      1
                        True                                       1
        1.0             False                                      1
        2.0             False                                      1
                        True                                       1
llama3  0.0             False                                     10
                        True                                      15
        1.0             False                                      5
                        True                                      11
qwen    0.0             False                                      5
                        True                                      15
        1.0             False                                      5
                        True                                      10
        2.0             False                                      9

We see that modifying the system prompt if we don't add examples increases the number of invalid responses for both gpt-3.5, llama3 and qwen. However, if we add two examples and modify the system role, there are no invalid responses for either qwen or llama3.